# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.py[cod]

# Dataset
dataset/

# Models
*.pkl
*.keras

# Environment Variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db